<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="static/css/style.css">


</head>

<body>
<form class='login-form' method="post" action="/login">
    <div class="flex-row logo">
        <h1>Крутые заметки)</h1>
    </div>
    <div class="flex-row">
        <input id="username" name="username" class='lf--input' placeholder='Ваше имя пользователя' type='text'>
    </div>
    <div class="flex-row">
        <input id="password" name="password" class='lf--input' placeholder='Ваш пароль' type='password'>
    </div>
    <input class='lf--submit' type='submit' value='Войти'>
    <a class='lf--forgot' href='#'>{{fleksim}}</a>
</form>


</body>
</html>
